In [5]:
import pandas as pd
import country_converter as coco

In [6]:
import_export = pd.read_csv('import-export_raw.csv')
import_export.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,TRADEGOODSERV,EXP,PC_GDP,A,2017,21.869713,NaN
1,AUS,TRADEGOODSERV,EXP,PC_GDP,A,2018,24.169727,NaN
2,AUS,TRADEGOODSERV,EXP,PC_GDP,A,2019,23.983854,NaN
3,AUS,TRADEGOODSERV,EXP,PC_GDP,A,2020,22.182186,NaN
4,AUS,TRADEGOODSERV,IMP,PC_GDP,A,2017,21.512513,NaN

In [7]:
import_export['TIME'].value_counts()

2017    94
2018    94
2019    94
2020    90
2021    62
Name: TIME, dtype: int64

In [10]:
names = ['AUS']
coco.convert(names=names, to='name_short')

'Australia'

In [11]:
import_export['Country'] = import_export['LOCATION'].apply(lambda x: coco.convert(names=[x], to='name_short'))

EA not found in ISO2
EA not found in ISO2
EA not found in ISO2
EA not found in ISO2
EA not found in ISO2
EA not found in ISO2
EA not found in ISO2
EA not found in ISO2
EA not found in ISO2
EA not found in ISO2
EU not found in ISO2
EU not found in ISO2
EU not found in ISO2
EU not found in ISO2
EU not found in ISO2
EU not found in ISO2
EU not found in ISO2
EU not found in ISO2
EU not found in ISO2
EU not found in ISO2
OAVG not found in regex
OAVG not found in regex
OAVG not found in regex
OAVG not found in regex
OAVG not found in regex
OAVG not found in regex
OAVG not found in regex
OAVG not found in regex

In [14]:
import_export = import_export[import_export['Country'] != 'not found']
import_export = import_export[import_export['TIME'] >= 2019]

In [18]:
import_export.columns = import_export.columns.str.title()
import_export.drop(columns=['Flag Codes'], inplace=True)
import_export

,Location,Indicator,Subject,Measure,Frequency,Time,Value,Country
2,AUS,TRADEGOODSERV,EXP,PC_GDP,A,2019,23.983854,Australia
3,AUS,TRADEGOODSERV,EXP,PC_GDP,A,2020,22.182186,Australia
6,AUS,TRADEGOODSERV,IMP,PC_GDP,A,2019,20.055673,Australia
7,AUS,TRADEGOODSERV,IMP,PC_GDP,A,2020,17.834795,Australia
10,AUT,TRADEGOODSERV,EXP,PC_GDP,A,2019,55.442207,Austria
...,...,...,...,...,...,...,...,...
419,LTU,TRADEGOODSERV,EXP,PC_GDP,A,2020,73.501437,Lithuania
420,LTU,TRADEGOODSERV,EXP,PC_GDP,A,2021,79.333549,Lithuania
423,LTU,TRADEGOODSERV,IMP,PC_GDP,A,2019,72.053896,Lithuania
424,LTU,TRADEGOODSERV,IMP,PC_GDP,A,2020,64.215741,Lithuania
425,LTU,TRADEGOODSERV,IMP,PC_GDP,A,2021,75.460712,Lithuania

In [19]:
import_export.to_csv('import_export.csv')